wifi_ssid: "your-network"
wifi_password: "your-password"
ota_password: "choose-a-password"
fallback_password: "choose-a-password"
flespi_token: "your-flespi-token"
ha_api_key: "your-32-byte-base64-key"  # openssl rand -base64 32
